@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap");

:root {
  --text-grey: #454f63;
  --text-grey-light: #78849e;
  --text-white: #ffffff;
  --bg-color: #2a2e43;
  --button-color: #665eff;
  --box-shadow: 0px 4px 4px #f0f2f3;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: #232738e6;
}

h1 {
  font-size: 1rem;
  font-weight: 600;
  text-align: left;
}

p {
  font-size: 0.75rem;
  line-height: 20px;
  text-align: left;
}
